{% extends "base.html" %}

{% block variables %}
<!-- this script needs to go here because this is a nice way to use flask variables for styling. -->
<script type="text/javascript">

var my_interests = {{interests}};
console.log(my_interests);
for (entry of my_interests) {
    console.log(entry);
}
$('.interest').css('cursor', 'pointer');
// $('.interest').css('opacity', '0.6');


$( document ).ready(function() {
    var interestFields = document.getElementsByClassName("interest");
    for (field of interestFields) {
        console.log(field);
        if (my_interests.includes(parseInt(field.getAttribute('interest')))) {
            field.style.opacity = "1";;
        }
        else {
            field.style.opacity = "0.6";
        }
    }
});

$( ".interest" ).click(function() {
    var interestName = $(this).attr("interest");
    if (my_interests.includes(parseInt(interestName))) {
        $(this).css("opacity", '0.6');
        console.log(interestName);
        var index = my_interests.indexOf(parseInt(interestName));
        my_interests.splice(index, 1);
        // my_interests.pop(parseInt(interestName));
    } else {
        my_interests.push(parseInt(interestName));
        $(this).css("opacity", '1');
    }
    console.log(my_interests);

    $.ajax({
        type: "POST",
        data: {int: JSON.stringify(my_interests)},
        url: "/updateInterests",
        dataType: "json"
    });
});

</script>
{% endblock %}

{% block content %}

<div class = "row">
    <div class = "col s12 m12 l5">
        <h6>Your Information</h6>
        <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div id= "fullname" class = "col l11">
                        {% if fullname == "" %}
                        <div class="input-field">
                            {{ form.fullname(placeholder = "Full name", class ="materialize-textarea icon_prefix2") }}

                        </div>
                        {% else %}
                        <div class = "row">
                            <br>
                            <div class = "col l5">
                               <b> Full Name:</b>
                            </div>
                            <div class = "col l7">
                                {{ fullname }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class = "col l11">
                        {% if company == "" %}
                        <div class="input-field">
                            {{ form.company(placeholder = "Company", class ="materialize-textarea icon_prefix2") }}
                        </div>
                        {% else %}
                        <div class = "row">
                            <br>
                            <div class = "col l5">
                               <b> Company:</b>
                            </div>
                            <div class = "col l7">
                                {{ company }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class = "col l11">
                         {% if title == "" %}
                        <div class="input-field">
                            {{ form.title(placeholder = "Title", class ="materialize-textarea icon_prefix2") }}
                        </div>
                        {% else %}
                        <div class = "row">
                            <br>
                            <div class = "col l5">
                               <b> Role:</b>
                            </div>
                            <div class = "col l7">
                                {{ title }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class = "col l11">
                         {% if linkedin == "" %}
                        <div class="input-field">
                            {{ form.linkedIn(placeholder = "LinkedIn Profile", class ="materialize-textarea icon_prefix2") }}
                        </div>
                        {% else %}
                        <div class = "row">
                            <br>
                            <div class = "col l4">
                               <b> LinkedIn:</b>
                            </div>
                            <div class = "col l8">
                                {{ linkedin }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <br>
                <div class = "row">
                    <div class = "center-align">
                        {% if linkedin == "" or title == "" or company == "" or fullname == "" %}
                        <button class="btn waves-effect waves-light" type="submit">SAVE
                            <i class="material-icons right">save</i>
                        </button>
                        {% endif %}
                        <button class="btn waves-effect waves-light reset">RESET
                            <i class="material-icons right">delete</i>
                        </button>
                    </div>
                </div>
            </form>
    </div>
    <div class = "col s12 m12 l6">
        <h6>Your Interests</h6>
        <br>
        <div class="row">
            <div class="col l4">
                <img class="interest materialboxed" interest = 1 src="{{ url_for('static', filename='img/alcohol.bmp') }}">
            </div>
            <div class="col l4">
                <img class="interest materialboxed" interest = 2 src="{{ url_for('static', filename='img/bball.bmp') }}">
            </div>
            <div class="col l4">
                <img class=" interest materialboxed" interest = 3 src="{{ url_for('static', filename='img/Camera.bmp') }}">
            </div>
            <div class="col l4">
                <img class=" interest materialboxed" interest = 4 src="{{ url_for('static', filename='img/travel.bmp') }}">
            </div>
            <div class="col l4">
                <img class=" interest materialboxed" interest = 5 src="{{ url_for('static', filename='img/dog.bmp') }}">
            </div>
            <div class="col l4">
                <img class="interest materialboxed" interest = 6 src="{{ url_for('static', filename='img/cat.bmp') }}">
            </div>
            <div class="col l4">
                <img class=" interest materialboxed" interest = 7 src="{{ url_for('static', filename='img/lala.bmp') }}">
            </div>
            <div class="col l4">
                <img class="interest materialboxed" interest = 8 src="{{ url_for('static', filename='img/warriors.bmp') }}">
            </div>
            <div class="col l4">
                <img class="interest materialboxed" interest = 9 src="{{ url_for('static', filename='img/marvel.bmp') }}">
            </div>
        </div>
    </div>
</div>

{% endblock %}